body{
    padding: 0;
    margin: 0;
    background-color: rgb(157, 225, 240);
}
hr {
    width: 100%;
    border: 1px solid white;
}
.active-link {
    text-decoration: underline;
  }
.links {
    background-color: rgb(233, 240, 242);
    display:flex;
    width: 100%;
    height: 100px;
    justify-content:space-between;
    padding: 0 30px 0 30px;
    font-family: Optima, sans-serif;

}
.header-title {
    padding-left: 30px;
}
.header-title a {
    text-decoration: none;
    font-size: 24px;
    color:black;
}

.header-links{
    display: flex;
    justify-content: end;
    gap:30px;
    text-decoration: none;
    padding-right: 85px;

}
.header-links a {
    text-decoration: none;
    font-size: 22px;
    color:black;
}
.hero-img{
    width:100%;
}
.main-content {
    display:flex;
    justify-content: center;
    margin: 5%;
   

}
.site-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    background-color: rgb(5, 195, 238);
}
.site-container p {
    font-family: Optima, sans-serif;
    font-size: 24px;
    max-width: 1200px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.about-secc-1{
    display:flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.about-secc-1 img{
    border-radius: 20px;
}
.about-secc-2{
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 40px
}
.about-secc-2 img{
    border-radius: 20px;
}
.about-secc-3{
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 40px
}
.about-secc-3 img{
    border-radius: 20px;
}
.portafolio-secc-1{
    background-color: azure;
    color: rgb(5, 195, 238);
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin-bottom: 40px;
}
.portafolio-secc-2{
    background-color: azure;
    color: rgb(5, 195, 238);
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin-top: 40px;
}
